<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
@if (WebApplication1.utils.Utils.ConnectedUSer != null)
{
    <div style="background-color:cornflowerblue; color: white; padding: 1vh 1vw; margin-bottom: 1vh">
        <h1 style="text-align:center;">Welcome</h1>
        <p style="text-align:right;"><a href="~/Home/LogOut" style="color:white">Log Out</a></p>
    </div>

    <div style="float:left;">
        <ul class="nav nav-pills nav-stacked">
            <li class="active">@Html.ActionLink("Entities", "Entities", "Home")</li>
        </ul>
    </div>
}
    <div style="width: 88vw; float:right;">
        @RenderBody()
        <hr />
        @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
