@model WebApplication1.Models.LatestDocumentsModel

@if (WebApplication1.utils.Utils.ConnectedUSer != null)
{

    <h2 style="text-align:center;">Latest Articles</h2>

    <table style="width: 80vw;" class="table table-bordered">
        @for (var i = 0; i < 20; i++)
        {
            <tr>
                <td>
                    @Model.documents[i].documentData.title
                </td>
                <td>
                    @using (Html.BeginForm("Article", "Home"))
                    {
                    <input type="hidden" name="check" value="0" />
                    <input type="hidden" name="corpusId" value="@ViewBag.corpusId" />
                    <input type="hidden" name="documentId" value="@Model.documents[i].objectId" />
                    <input type="hidden" name="index" value="@i" />
                    <input type="submit" value="See document" />
                    <br />
                    }
                </td>
            </tr>
        }
    </table>


    <h2 style="text-align:center;">Search</h2>

    <br />
    using (Html.BeginForm("Article", "Home"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <input type="hidden" name="index" value="-1" />
            <input type="hidden" name="check" value="1" />

            <div class="form-group">
                <strong class = "control-label col-md-2">Corpus Id</strong>
                <input type="text" name="corpusId" value="" class = "form-control" />
            </div>

            <div class="form-group">
                <strong class = "control-label col-md-2">Document Id</strong>
                <input type="text" name="documentId" value="" class = "form-control" />
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

}

else
{
    <div style="text-align: center; margin: 20vh 20vw 0 0">
        Please <a href="/Home/Index">Log in</a> to view this page. <br />
        If you don't have an account, please contact Mentis at <br />
        Phone: +32 (2) 647 72 25 <br />
        Email: info@mentis.fr
    </div>
}